################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/frontend/CookingRecipes.UI/src/assets/recipe-images
