.auth-div {
    padding: 0 25vw;
}

.login-btn {
    width: 50%;
}

.reg-text {
    color: rgb(0, 98, 255);
    font-weight: bold;
}

.reg-link {
    padding-top: 15px;
}

.align-center {
    display: flex;
    justify-content: center !important;
    align-items: center;
}

form .material-icons{
    font-size: 22px;
}

@media only screen and (max-width: 1024px) {
    .auth-div {
        padding: 0 5vw;
    }
}