<div class="main-body">
  <h1>Recipes</h1>
  <div class="flex-container">
    <mat-card class="recipe-card" *ngFor="let recipe of recipes">
      <img mat-card-image class="element-image" src="../../../../../assets/recipe-images/{{recipe.imageName}}.jpg" alt="Photo of a Shiba Inu">
      <mat-card-title>{{recipe.title}}</mat-card-title>
      <mat-card-content>
        <button mat-button class="left-button"><mat-icon>star</mat-icon></button>
        <p>4.4</p>
        <button mat-button class="right-button"><mat-icon>favorite_border</mat-icon></button>
      </mat-card-content>
    </mat-card>
  </div>
</div>