@use 'sass:map';
@use '@angular/material' as mat;
@import '../../../../../../theme.scss';


$color-config: mat.get-color-config($cooking-app-theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette: map.get($color-config, 'accent');

h1 {
    font-size: 24px;
    padding-bottom: 10px;
}

.recipe-card {
    max-width: 364px;
    margin: 0px 15px 15px 0px;
    border-radius: unset;
}

mat-icon {
    margin-right: 0px !important;

}

mat-card {
    box-shadow: 0px 1px 10px 0 #1414142e !important;
    font-size: 16px;
}

mat-card:hover {
    box-shadow: 0px 1px 10px 0 #14141498 !important
}

.element-image {
    cursor: pointer;
    width: 364px;
}


.mat-mdc-card-content:last-child {
    padding-bottom: 0px;
}

mat-card-content {
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

mat-card-content p {
    float: left;
    padding: 4px 0px 0px 10px;
}

.rating {
    float: left;
    padding: 0;
    color: gold !important;
    -webkit-text-stroke: 1px #a1a1a147;
}

.right-button {
    float: right;
    padding: 0;
    color: #dc3554 !important;
}

mat-card-title {
    cursor: pointer;
    padding: 10px 10px 0px 10px;
    overflow: hidden;
    min-height: 75px;
    font-weight: 400;
}

.recipe-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.search-field {
    width: 25vw;
}

.search-btn {
    padding: 23px 0;
    border: solid 1px mat.get-color-from-palette($primary-palette, 100);
    border-radius: 6px;
    box-shadow: unset;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 1px solid #bdbdbd;
}

::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 6px !important;
    --mdc-outlined-text-field-outline-color: #c7c7c7;
}

.filter-btn {
    padding: 22px 10px;
    margin-left: 9px;
}

.filter-field{
    margin-top: 15px;
}
::ng-deep .clear-btn .mat-mdc-menu-item-text{
    width:100%;
}

.clear-btn button{
    width:100%;
}

@media only screen and (max-width: 1024px) {
    .search-field {
        width: 90vw;
    }

}