<h2 mat-dialog-title>Edit Recipe</h2>
<mat-divider></mat-divider>
<form #form="ngForm" (ngSubmit)="editRecipe(displayRecipe)" class="recipeForm">
  <div mat-dialog-content class="content">
    <div class="row" style="padding-top: 23px;">
      <mat-form-field appearance="outline">
        <mat-label>Id</mat-label>
        <input matInput type="text" id="recipeId" name="id" [(ngModel)]="displayRecipe.id" disabled>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" placeholder="Ex. Pancakes" id="recipeTitle" name="title"
          [(ngModel)]="displayRecipe.title">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Recipe Categories</mat-label>
        <textarea matInput type="text" rows="2" id="recipeCategories" name="recipeCategories"
          [(ngModel)]="categoriesToDisplay" readonly disabled style="resize: none;"></textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="recipeCategory">
        <mat-form-field appearance="outline">
          <mat-label>Recipe Category</mat-label>
          <mat-select id="recipeType" name="recipeType" [(ngModel)]="categoryId">
            <mat-option *ngFor="let recipeType of recipeTypes; let i = index" [value]="i">
              {{ recipeType }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="buttonRow buttons-group-align-end">
        <button mat-raised-button type="button" style="margin-right:10px"
          (click)="removeRecipeCatFromInput()">Remove</button>
        <button mat-raised-button type="button" (click)="addRecipeCatToIput()">Add</button>
      </div>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Dish Category</mat-label>
        <mat-select id="dishType" name="dishType" [(ngModel)]="displayRecipe.dishType">
          <mat-option *ngFor="let dishType of dishTypes; let i = index" [value]="i">
            {{ dishType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Cuisine Category</mat-label>
        <mat-select id="cuisineType" name="cuisineType" [(ngModel)]="displayRecipe.cuisineType">
          <mat-option *ngFor="let cuisineType of cuisineTypes; let i = index" [value]="i">
            {{ cuisineType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Image Name</mat-label>
        <input matInput type="text" placeholder="Ex. pancake01" id="image" name="image"
          [(ngModel)]="displayRecipe.imageName">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Difficulty</mat-label>
        <mat-select id="difficulty" name="difficulty" [(ngModel)]="displayRecipe.difficulty">
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="3">3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Ingredients</mat-label>
        <textarea matInput type="text" rows="8" id="ingredients" name="ingredients"
          [(ngModel)]="displayRecipe.ingredients"></textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Instructions</mat-label>
        <textarea matInput type="text" rows="8" id="instructions" name="instructions"
          [(ngModel)]="displayRecipe.instructions"></textarea>
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions class="action buttons-group-align-end" >
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Update</button>
  </div>
</form>