@use 'sass:map';
@use '@angular/material' as mat;
@import '../../../../../../theme.scss';


$color-config: mat.get-color-config($cooking-app-theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette:  map.get($color-config, 'accent');

.content {
    padding-top: 5px;
}

.row {
    gap: 5px;
}

mat-form-field {
    width: 100%;
}

.recipeForm{
    min-width: 800px;
    max-width: 1000px;
}

.action{
    padding: 20px 25px 20px;
}


.mdc-dialog__title {
    padding: 0 24px 15px;
    background-color:  mat.get-color-from-palette($primary-palette, 100);;
}

h2{
    margin:0;
}

.recipeCategory {
    width: 75%;
    padding-right: 0px;
}

.buttonRow {
    padding-bottom: 28px;
    width: 24%;
}