<div class="container my-4">
  <h2>Add New Recipe</h2>
  <div class="row">
    <div class="col-6">
      <hr class="hr" />
      <form #form="ngForm" (ngSubmit)="addRecipe()">
        <div class="form-group mb-3">
          <label for="recipeTitle" class="form-label">Title</label>
          <input type="text" class="form-control" id="recipeTitle" name="title" [(ngModel)]="createRecipe.title">
        </div>
        <div class="form-group mb-3">
          <label for="dishType">Dish Category</label>
          <select class="form-control" id="dishType" name="dishType" [(ngModel)]="createRecipe.dishType">
            <option value="" disabled="disabled" selected="true">-Dish Category-</option>
            <option *ngFor="let dishType of dishTypes; let i = index" [ngValue]="i + 1">
              {{ dishType }}
            </option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="recipeType">Recipe Category</label>
          <select class="form-control" id="recipeType" name="recipeType" [(ngModel)]="categoryId">
            <option value="" disabled="disabled" selected="true">-Recipe Category-</option>
            <option [ngValue]=1>1</option>
            <option [ngValue]=2>2</option>
            <option [ngValue]=3>3</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="image" class="form-label">Image Name</label>
          <input type="text" class="form-control" id="image" name="image" [(ngModel)]="createRecipe.imageName">
        </div>
        <div class="form-group mb-3">
          <label for="diff" class="form-label">Difficulty</label>
          <select class="form-control" id="diff" name="difficulty" [(ngModel)]="createRecipe.difficulty">
            <option value="" disabled="disabled" selected="true">-Recipe Difficulty-</option>
            <option [ngValue]=1>1</option>
            <option [ngValue]=2>2</option>
            <option [ngValue]=3>3</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="ingredients">Ingredients</label>
          <textarea class="form-control" id="ingredients" rows="5" name="ingredients"
            [(ngModel)]="createRecipe.ingredients"></textarea>
        </div>
        <div class="form-group mb-3">
          <label for="instructions">Instructions</label>
          <textarea class="form-control" id="instructions" rows="5" name="instructions"
            [(ngModel)]="createRecipe.instructions"></textarea>
        </div>
        <button type="submit" class="btn btn-dark btn-outline-success">Save</button>
      </form>
    </div>
  </div>
</div>