<div class="container-sm">
  <h1 class="float-start">Recipes</h1>
  <button style="margin-left: 20px;" class="btn btn-sm btn-outline-secondary float-start my-3" routerLink="/recipes/add">Add Recipe</button>
  <br>
  <br>
  <hr class="hr" />

  <table class="table table-sm" *ngIf="recipes.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let recipe of recipes">
        <td>{{recipe.id}}</td>
        <td>{{recipe.title}}</td>
        <td><a class="btn btn-outline-secondary btn-sm" [routerLink]="['/recipes','edit', recipe.id]">View</a></td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="recipes.length == 0">No recipes found.</p>
</div>