@use 'sass:map';
@use '@angular/material' as mat;
@import '../../../../../theme.scss';


$color-config: mat.get-color-config($cooking-app-theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette:  map.get($color-config, 'accent');

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -12px;
    background-color:  mat.get-color-from-palette($primary-palette, 100);;
}

.header h2{
    margin: 0;
}
