<div style="padding: 0px 5px 10px;">
  <div class="header">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <button mat-icon-button [mat-dialog-close]="false" >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    {{data.message}}
  </div>
  <div mat-dialog-actions class="buttons-group-align-end">
    <button mat-raised-button [mat-dialog-close]="false">{{data.cancelText}}</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">{{data.confirmText}}</button>
  </div>
</div>